/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  ---------------------------------------            TYPOGRAPHY               -----------------------------------   */
html {
    background: #00AE9D;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

h1, h2, h3, p, blockquote {
    line-height: 1.2;
    padding: 0.5em 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}

p {
}

a {
    color: #FFF;
    text-decoration: none;
}
a:hover {
    text-decoration: line-through;
}

blockquote {
    font-style: italic;
    text-align: justify;
}

b {
    font-weight: bold;
}

cite {
    display: block;
    font-size: 0.8em;
    margin-top: 20px;
    text-align: right;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
}

li {
    margin: 0.5em 0;
}


/*  --------------------------------------            CUSTOM STYLES               ---------------------------------   */

.slide-container {
    opacity: 0;
    transition: opacity .5s ease-in-out;

    height: 100%;
    width: 100%;
    position: absolute;
}

.slide-container--active {
    opacity: 1;
}

.slide {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 20px;
}

.slide-container[data-slide-name="title"] {
    /*background: linear-gradient(#00AE9D 25%, #8AD64F 25%, #8AD64F 75%, #00AE9D 25%);*/
}
.slide--title {
    height: 300px;
    position: relative;
    top: calc(50% - 150px);
    text-align: center;
}
.slide--title h1 {
    font-weight: bold;
}

/*  --------------------------------------               UTILS                   ---------------------------------   */
.moved-lower {
    padding-top: 1em;
}
.without-padding-bottom {
    padding-bottom: 0;
}
