div.slide.slide--h-centered.slide--v-centeredgit
    div.slide__content
        h1 Aplikacja demonstracyjna

        h2
            a(href='https://github.com/pawelhertman/websockets-demo', target='_blank') github.com/pawelhertman/websockets-demo
