div.slide
    h1 Biblioteki: serwer
    h3.without-padding-bottom Node.js
    ul
        li
            a(href='http://socket.io') socket.io (także klient)
        li
            a(href='https://github.com/theturtle32/WebSocket-Node') WebSocket-Node
        li
            a(href='https://github.com/websockets/ws') ws

    h3.without-padding-bottom PHP
    ul
        li
            a(href='http://socketo.me/') Ratchet
        li
            a(href='https://github.com/ghedipunk/PHP-WebSockets') PHP WebSockets

    h3.without-padding-bottom Java
    ul
        li
            a(href='http://www.eclipse.org/jetty/') Jetty
