div.slide
    div.slide__content
        h1 Biblioteki: serwer

        table(width='100%').margin-top--x2
            tr
                td(width='33%')
                    h3.without-padding-bottom Node.js
                    ul
                        li
                            a(href='http://socket.io') socket.io (także klient)
                        li
                            a(href='https://github.com/theturtle32/WebSocket-Node') WebSocket-Node
                        li
                            a(href='https://github.com/websockets/ws') ws

                td(width='33%')
                    h3.without-padding-bottom PHP
                    ul
                        li
                            a(href='http://socketo.me/') Ratchet
                        li
                            a(href='https://github.com/ghedipunk/PHP-WebSockets') PHP WebSockets

                td(width='33%')
                    h3.without-padding-bottom Java
                    ul
                        li
                            a(href='http://www.eclipse.org/jetty/') Jetty
