div.slide
    div.slide__content
        h1 socket.io

        ul
            li Najbardziej popularna biblioteka do obsługi websocketów</br>
                img(src='/images/socket-io.png').moved-lower

            li Wersje: javascript, java, c++, swift
            li Obsługa long-pollingu = wsparcie od IE8 (uwaga na anuglar-sails - dla IE8 wymagana dodatkowa konfiguracja!)
            li Przykładowy kod (via http://socket.io/docs):
                img(src='/images/socket-example.png').moved-lower
