div.slide
    div.slide__content
        h1 Definicja
        blockquote
            b WebSocket&nbsp;
            | jest technologią zapewniającą dwukierunkowy kanał komunikacji za pośrednictwem jednego gniazda TCP.
            | Stworzono ją do komunikacji przeglądarki internetowej z serwerem internetowym, ale równie dobrze może zostać
            | użyta w innych aplikacjach typu klient lub serwer.
            cite wikipedia.org
        h3.moved-lower Cechy
        ul
            li dwukierunkowość
            li pełny dupleks -> zmniejszone opóźnienia i obciążenie sieci
            li trwałe połączenie przeglądarka-serwer
            li event-driven programming
            li dostęp do wszystkich połączeń na raz: możliwość broadcastowania wiadomości
            li mniejszy rozmiar przesyłanych danych
            li wykorzystywany port 80, a dla połączeń szyfrowanych 443
            li URI: ws i wss
