div.slide.slide--h-centered.slide--v-centered
    h2 Gdy zależy nam na szybkości
    table(width='636px').centered.moved-lower--x2
        tr
            td(width='33%') Standardowy request
            td(width='33%') Long polling
            td(width='33%') Websockets

    img(src='/images/plane.gif').moved-lower
    cite.centered źródło: giphy.com
